/** 
 *  Copyright (c) 2020 <Company/Developer Name>. All rights reserved.
 *
 *  The following code is protected by US and International copyright laws.     
 *  Reproduction and distribution of this code without written permission
 *  from <Company/Developer Name> is prohibited.
 *  
