 *	Version		Date		Author		Remarks
 *	1.00					Kodella		Initial version
 *	
 *	Description
 *	Script Description goes here.
 *
 *	@NScriptType ScheduledScript
 *	@NApiVersion 2.x
 *
 */
define(['N/record'], function(record) {

    function execute(context) {

    }

    return {
        execute: execute
    }
    
})